.customZot-Yellow {
    background-color: rgba(255, 204, 0, 0.212) !important;
}

.customZot-Green {
    background-color: rgba(0, 255, 47, 0.215) !important;
}

.customZot-Blue {
    background-color: rgba(0, 0, 255, 0.187) !important;
}

.customZot-Purple {
    background-color: purple !important;
}

.customZot-Red {
    background-color: rgb(255, 128, 128) !important;
}
.customZot-Gray {
    background-color: rgb(204, 204, 204) !important;
}
