@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!
.home-info {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;

  .left-column {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-wrapper {
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center; // 이미지를 가운데 정렬

      .profile-image {
        width: 80%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .social-links {
      display: flex;
      justify-content: center;
      gap: 0.75rem;

      a {
        font-size: 1.25rem;
        color: var(--dark);
        transition: color 0.2s ease;

        &:hover {
          color: var(--secondary);
        }
      }
    }
  }

  .right-column {
    flex: 0 0 70%;

    .description {
      font-size: 1.1rem;
      line-height: 1.5;
    }
  }
}

@media (max-width: 768px) {
  .home-info {
    flex-direction: column;
    align-items: center;

    .left-column {
      width: 100%;
      max-width: 30%;
      margin-bottom: 1rem;
    }

    .right-column {
      width: 100%;
    }
  }
}

// TOC 스타일 수정
.sidebar {
  &.right {
    .toc {
      // 최대 높이 제한 해제 및 스크롤바 제거
      max-height: none !important;
      overflow-y: visible !important;

      ul.overflow,
      ol.overflow {
        max-height: none !important;
        overflow-y: visible !important;

        // 마지막 항목의 여백 조정
        & > li:last-of-type {
          margin-bottom: 30px;
        }
      }

      // 그라데이션 효과 제거
      &:after {
        display: none !important;
      }
    }
  }
}

// div:has(> .overflow) 스타일 수정
div:has(> .overflow) {
  overflow-y: visible !important;
  max-height: none !important;
}

$adjustedSidePanelWidth: $sidePanelWidth + 40px;

.page #quartz-body {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    // 데스크톱 화면 크기에서 페이지 본문의 그리드 레이아웃을 설정
    // 왼쪽 사이드바, 중앙 컨텐츠, 오른쪽 사이드바의 너비를 지정
    // $adjustedSidePanelWidth: 조정된 사이드바 너비
    // minmax(0, 1fr): 중앙 컨텐츠 영역이 남은 공간을 모두 차지하되, 최소 0px 유지
    grid-template-columns: $adjustedSidePanelWidth minmax(0, 1fr) $adjustedSidePanelWidth !important;
  }
  .center {
    @media all and (min-width: map-get($breakpoints, desktop)) {
      // 중앙 컨텐츠의 최대 너비를 설정
      // 전체 너비에서 양쪽 사이드바의 너비를 뺀 값으로 지정
      max-width: calc(100% - #{2 * $adjustedSidePanelWidth}) !important;
      // 중앙 컨텐츠를 화면 중앙에 배치
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  // .sidebar {
  //   &.left,
  //   &.right {
  //     @media all and (min-width: map-get($breakpoints, desktop)) {
  //       padding-left: 1rem; // 왼쪽 여백 줄임
  //       padding-right: 1rem; // 오른쪽 여백 줄임
  //       width: $adjustedSidePanelWidth;
  //     }
  //   }
  // }
}
